body {
    margin: auto 0;
    overflow-x: hidden;
    height: 100%;
}

@font-face {
    font-family: "Futura";
    src: url("../ttf/futura.ttf");
}
@font-face {
    font-family: "Avenir";
    src: url("../ttf/AvenirLTStd-LightOblique.ttf");
}

.f-futura {
    font-family: "Futura";
}
