

.contact-content {
    font-weight: bolder;
    padding-top: 50px;
}

.contact-content > h1{
    font-size: 60px;
    margin-bottom: 20%;
}

.contact-content > p{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
}
